@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1614870435643'); /* IE9 */
  src: url('iconfont.eot?t=1614870435643#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALcAAsAAAAABrgAAAKPAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCDBgqBHIEnATYCJAMMCwgABCAFhG0HOhvxBcgekiRsIzcoECkAAFCIB/73Y94nmFhTPZ3EIYkmSoAoVqKVQCpk2ZaX/19rv/cRkbbTMbeTt3tis7e4xmsQ/59OKIRkzRJEGp0EDRAAz/9/Lse3LDuQ1veG29rz+ZiACUbh3tgmK5KEvGHsghd4noBKvYqEdnuGpiBBZk8LCFc6kyCh4JdllioXlDaszcKLWOXxNj4DeI6+H/5BRQlEJYl90d5ltwpt34Xfk9FHxREspUCwnBVsEwnTQCYcNsYPRAuMjFYpj+nOLZUFcanQfwEiviEtdf7wiAKhlF1cDcZRIvJd6PEzxSQUPnWPBEp9hGGZTWn2jCBW19fvvh1Nea/vM/EfH9Nm0s1re8ztW1Xy/UeIvXmvKZJirvt0xd69z43/DldduKwN2miZUROaj9rLqB4thar3Zl1FheNVY2/2VXbYUz5Gyuym37MGUDgpkgJAWo9/EAIze9haTW/6n1CVwRcriEB/4WQYnigXYYJfJxjYlA2RbUhZ43t8y5n0T7RGYEklCrDdjb6mq1tuzxqUFwQMojI9kJQbRjIxDSWqzEKpchtQaUrv5ipNuGghV2DSOYCg3j1EtT4hqfeCZOITSrT6gVL1RUOl/ZC9Z5XR9KROjpJAlcjbRFdch7omkRSXTiBbtySeF0XUGeS+HiLlJWXlVC86yJdY4G+wCiEoody1SQ+4DC3LJR53DVREiSaE11BaSpveVKK4NiTZwSGJgFSEbBuhU7gcNOgsJFU+PwEx6ywS3lFW556BOJ/ePVGuRNkApFfuDCp7lGt8G5gKgkARFOeyET1gFLJYXITXPMqAFEIJbULU06DUaUeHyku2V9o/kMeqsA9IIYYUstJTl0oOi9+RvsTnMAAA') format('woff2'),
  url('iconfont.woff?t=1614870435643') format('woff'),
  url('iconfont.ttf?t=1614870435643') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1614870435643#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bofang:before {
  content: "\e653";
}

.icon-zanting:before {
  content: "\e619";
}

